LLM_API_KEY=your_api_key_here
LLM_MODEL=gpt-4o-mini

MARKDOWN_DIR=data/markdown
CHROMA_DIR=chroma_db
CHROMA_COLLECTION=ruvie_markdown

OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
APP_NAME=Ruvie
APP_URL=http://localhost:8000

FRONT_END_URL=http://127.0.0.1:5173